
"The Flax":
  - album: "Despite Myself"
    url: "https://www.youtube.com/playlist?list=OLAK5uy_ncbR_CqsjRi3CT2T641I4JRd4YX_s3tRQ"
  - album: "With Bells On"
    url: "https://www.youtube.com/playlist?list=OLAK5uy_lT2ZgX0OeO5SBjzOjV7yduvparDYjDLJo"
